# Application Port
PORT=5000

# MongoDB Connection String
# For MongoDB Atlas (Cloud):
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/student_db?retryWrites=true&w=majority
#
# For Local MongoDB:
MONGODB_URI=mongodb://127.0.0.1:27017/student_db
